---
- name: Create a Tomcat User
  user:
    name: tomcat

- name: Create a Tomcat Group
  group:
    name: tomcat

- name: Create a Tomcat Directory
  file:
    path: /opt/tomcat
    owner: tomcat
    group: tomcat
    mode: 755
    recurse: yes

- name: download & unarchive tomcat
  unarchive:
    src: https://dlcdn.apache.org/tomcat/tomcat-9/v9.0.69/bin/apache-tomcat-9.0.69.tar.gz
    dest: /opt/tomcat
    remote_src: yes
    extra_opts: [--strip-components=1]

- name: Change ownership of tomcat directory
  file:
    path: /opt/tomcat
    owner: tomcat
    group: tomcat
    mode: "u+rwx,g+rx,o=rx"
    recurse: yes
    state: directory

- name: Copy Tomcat service from local to remote
  template:
    src: tomcat.service.j2
    dest: /etc/systemd/system/tomcat.service
    mode: 0755

# - name: Copy Built Artifact from local to remote
#   copy:
#     src: /var/lib/jenkins/workspace/assignment_deployment/Ansible/myproject-1.war
#     dest: /opt/tomcat/webapps/hello.war
#     mode: 0755
#     remote_src: yes

- name: copy artifact to target node
  synchronize:
    src: target/myproject-1.war
    dest: /opt/tomcat/webapps/hello.war
    recursive: no

- name: Start and Enable Tomcat 9 on sever
  systemd:
    name: tomcat
    state: started
    daemon_reload: true